/* Táblázat beállításai */
table {
        border-collapse:collapse;  /* szegély összevonása*/
      }
td,th { 
        border:1px solid black;   /* szegély beállítása */
        padding: 10px;              /* kitöltés (belső margó) beállítása */  
       }


/* További beállítások a feladat szerint */

h1 {
    color: blue;
    font-family: Arial, Verdana, sans-serif;
}

h2{
    font-family: Arial, Verdana, sans-serif;
}

table{
    background-color: lightblue;
}
